@charset "UTF-8";
html {
    font-size: 100%;
}
/*
フッターを画面下に配置するために、
「position: relative;」を設定
「min-height」で最小の高さを画面の高さにあわせる
*/
body {
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;
}
 a {
     color: #333;
     text-decoration: none;
     transition: all 0.5s;
 }
 a:hover {
     opacity: 0.7;
 }
 li {
     list-style: none;
 }
 /* コンテンツ幅を設定するための共通クラス */
 .wrapper {
     width: 100%;
     max-width: 1360px;
     margin: 0 auto;
     padding: 0 40px;
 }
 .site-title a {
     width: 180px;
     line-height: 1px;
     display: block;
 }

 /* header */

 #header {
     width: 100%;
     height: 80px;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
     left: 0;
     right: 0;
     z-index: 10;
 }
 /* ハンバーガーメニュー　非表示時 */
 /* メニューが閉じている間は[left:-300pxで画面左に隠し] */
 /* [opacity:0]で非表示にしている？ */

#navi {
    position: fixed;
    /* fixedにすることでスクロールされても位置が固定されたままになる */
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}
#navi a {
    color: #fff;
}
#navi li {
    margin-bottom: 14px;
}
/* ハンバーガーメニュー　表示時 */
.open #navi {
    left: 0;
    opacity: 1;
    /* left:-300px、opacity:0で非表示にしていた物を */
    /* 真逆の値をとることで表示する */
}
/* ハンバーガーメニューのボタン */
.toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}
/* ------ ハンバーガーメニュー非表示時のボタンの設定------- */
.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
}
/* 1本目の線の設定 */
.toggle_btn span:nth-child(1) {
    top: 10px;
}
/* 2本目の線の設定 */
.toggle_btn span:nth-child(2) {
    bottom: 10px;
}

/* -------ハンバーガーメニュー表示時のボタンを設定------ */
/* 線の色を白色に変更 */
.open .toggle_btn span {
    background-color: #fff;
}
/* 1本目の線を-45度回転 */
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    /* ブラウザごとに対応されるためにwebkitをつける */
    transform: translateY(4px) rotate(-45deg);
}
/* 2本目の線を45度回転 */
.open .toggle_btn span:nth-child(2) {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}
#mask {
    display: none;
    transition: all 0.5s;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
}
